@tailwind base;
@tailwind components;
@tailwind utilities;

@property --rotate {
  syntax: '<angle>';
  initial-value: 132deg;
  inherits: false;
}

body {
  @apply bg-black text-white;
}

.styled-scrollbar {
  @apply scrollbar-thin scrollbar-thumb-white scrollbar-track-black scrollbar-corner-transparent;
}
